*{
			padding: 6px;
			color:cornflowerblue;
font-family: 'Gloria Hallelujah', cursive;


		}
		body.html{
			overflow-x: hidden;height:100%;width: 100%;
		}
		#fivecities {
    font-size: larger;
    text-align: center;
    list-style: none;
    display: inline-block;
    background: url('../img/win.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-width: 400px;
    min-height: 350px;padding: 60px;
    padding-top: 60px;
    width: 55%;
}
		#fivecities li{
			padding: 10px;
			margin-bottom: 12px;
		}
		#fivecities li>a{
			text-decoration: none;
		}
		#fc div{
			padding:10px;padding-left: 15px;padding-right: 15px;
			border:1px solid;
			display: inline-block;cursor:pointer;
			margin-left:-8px;
		}
#fc div.selected{
	background: cornflowerblue;color: white;border-color: cornflowerblue;
}
.temp{
	color:blue;
}
.temp:after{
content: "°";
}
#window{
	background-repeat: no-repeat;
    background-size: 60% 60%;
    max-width: 700px;
    min-height: 500px;
    width: 70%;
    margin-left: -99px;
}
#line{
	background: cornflowerblue;
    border-width: 0px;
    height: px;
    padding: 1px;
    margin-top: 53px;
    width: 100%;
    position: absolute;
    margin-left: -20px;
    z-index: -9px;
}






@media (min-width: 320px) and (max-width: 800px) {
  
.extras{
	display:none;
}

	#fivecities {
    font-size: smaller;
    text-align: center;
    list-style: none;
    display: inline-block;
    background: url(../img/win.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* min-width: 400px; */
    width: 90%;
    min-height: 350px;
    padding: 60px;
    min-width: 0px;
    padding-top: 60px;
}

}
